<h2>CliQue SI Tu Peux!</h2>
<div class="login">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <ul>
      <div class="name">
        <% @messages_parse.each do |message| %>
          <% message.payload.headers.each do |head| %>
            <% if head.name == "From" %>
              From: <%= head.value %>
            <% end %>
          <% end %>
          <p>
            <% if message.payload.parts.present? %>
              <% message.payload.parts.each do |mess| %>
                <% extract_word(mess.body.data).each do |word| %>
                  <%= word %><br>
                <% end %>
              <% end %>
            <% end %>
          </p>
          <hr>
        <% end %>
        </br>
      </div>
    </ul>
    <% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn btn-primary" %>
  <% end %>
</div>